<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>AT 3 TRI</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">
				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>Trabalho AT 3 TRI</h2>
							<p>consumo de energia</p>
						</div>
					</section>

				
					<section id="wrapper">

						
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Valorize a iluminação natural</h2>
										<p>Entre as formas de economizar energia elétrica, a valorização da iluminação natural é uma das mais práticas e benéficas. Por meio dessa iniciativa, é possível otimizar a capacidade de iluminação dos ambientes, reduzindo a necessidade de ligar luzes artificiais e, ainda, ter mais conforto visual e bem-estar ao aumentar o contato com a luz solar.</p>
										
									</div>
								</div>
							</section>

							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Tire os aparelhos eletrônicos da tomada</h2>
										<p>Se você tem dúvidas sobre a efetividade dessa ação, saiba que, não é novidade que ligados consomem demais. Faça um teste. Sabia que somente um decodificador de TV a cabo que é utilizado por poucas horas no dia, mas fica o restante do tempo na tomada, pode gerar um custo adicional de quase cem reais anualmente?</p>
									</div>
								</div>
							</section>

							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Diminua o uso de aparelhos como ferro elétrico, chuveiro e máquina de lavar</h2>
										<p>Para reduzir seu consumo, dê preferência a passar mais roupas por vez do que passar uma peça a cada ligada do ferro. Ao utilizar o chuveiro, sempre que possível, utilize a função Verão e tente diminuir o tempo de seus banhos. Para o caso da máquina de lavar, também busque juntar diversas peças para utilizar capacidade total do equipamento, ao invés de lavar poucas peças por vez.

											Com pequenas atitudes, é possível alcançar grandes resultados! Essas são formas simples de economizar energia, reduzir sua conta de luz e, ainda, de ter atitudes mais sustentáveis em seu dia a dia.</p>
									</div>
								</div>
							</section>

							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Consumo de Água</h2>
									<p>4 dicas de consumo conciente de água para que não haja desperdicio</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Feche a torneira</h3>
											<p>Mantenha a torneira fechada ao lavar as mãos, escovar os dentes, fazer a barba e ao ensaboar a louça. Ao escovar os dentes com ela aberta, você gasta cerca de 13,5 litros de água em apenas dois minutos.</p>
											
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">Tome banhos curtos</h3>
											<p>Tome banhos curtos. Cinco minutos são suficientes para fazer a limpeza do corpo e, enquanto você se ensaboa, o registro deve ser fechado. Isso gera uma economia de até 30 mil litros no ano.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
											<h3 class="major">Organizar a louça</h3>
											<p>Organize a louça antes de lavá-la. Use uma bacia para deixar os utensílios de molho, para amolecer a sujeira, lave toda a louça e enxágue tudo de uma única vez. Isso e o uso de materiais biodegradáveis também ajudam na economia.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
											<h3 class="major">Dispositivos que reduzam o gasto de água</h3>
											<p>Adote dispositivos que ajudam na redução do consumo de água, como o arejador de torneiras, o restritor de vazão, bacias sanitárias VDR e válvulas automáticas para mictórios. Em condomínios e empresas o uso desses equipamentos gera uma boa redução de custos.</p>
										</article>
									

					</section>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>